{% extends 'home/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <!--Acá colocaremos el contenido que queremos cambiar del tempalte padre -->
    <h1>Busca lo que quieras</h1>
    <div class="btn-select-content" id='options'>
        <a class="btn btn-primary btn-xl" href="{% url 'movies'%}">Peliculas</a>
        <a class="btn btn-primary btn-xl" href="{% url 'series'%}">Series</a>
        <a class="btn btn-primary btn-xl" href="{% url 'songs'%}">Canciones</a>
    </div>


{% endblock  %}

